<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyjsh.system.dao.OrganizationDao">
    <select id="getByName" resultType="User" parameterType="string">
        SELECT t.*
        FROM
            sys_org t
        WHERE
            t.name = #{name}
    </select>

    <select id="getByNameIdNot">
        SELECT t.*
        FROM sys_org t
        WHERE t.name = #{name} AND t.id != #{orgId};
    </select>

    <select id="getUserTotal" parameterType="int" resultType="int">
        SELECT t.user_total
        FROM sys_org t
        WHERE t.id = #{id}
    </select>

    <select id="getById" parameterType="int" resultType="Organization">
        SELECT t.*
        FROM sys_org t
        WHERE t.id = #{id}
    </select>

    <select id="listAllOrg" resultType="Organization">
        SELECT
        t.id,t.name,t.org_order orgOrder,t.user_total userTotal,t.status,t.p_id pId,
        t.update_time updateTime , t.create_time createTime,t.create_uid createUid,
        t.update_uid updateUid
        from sys_org t
        <where>
            t.p_id = #{pId}
            <if test="null!=status ">
                t.status = #{status}
            </if>
        </where>
        ORDER BY t.org_order
    </select>

    <select id="listAllOrgIds" parameterType="int" resultType="int">
        SELECT t.id
        FROM sys_org
        WHERE t.p_id = #{rootId}
        ORDER BY org_order
    </select>
</mapper>