<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyjsh.system.dao.PermDao">
    <resultMap type="Permission" id="permission">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="url" column="url"></result>
        <result property="permValue" column="perm_value"></result>
        <result property="type" column="type"></result>
        <result property="pId" column="p_id"></result>
        <result property="createUid" column="create_uid"></result>
        <result property="updateUid" column="update_uid"></result>
        <result property="status" column="status"></result>
    </resultMap>
    <select id="listByUserId" parameterType="int" resultMap="permission">
        SELECT t1.*
        FROM sys_user_perm t2 LEFT JOIN sys_perm t1 ON t2.perm_id = t1.id
        WHERE t2.user_id = #{userId}
        UNION
        SELECT t1.*
        FROM sys_role_perm t2 LEFT JOIN sys_perm t1 ON t2.perm_id = t1.id
        WHERE t2.role_id IN
              (SELECT t3.role_id
               FROM sys_user_role t3
               WHERE t3.user_id = #{userId})
    </select>

    <insert id="saveUserPerm" parameterType="java.util.List">
        INSERT INTO sys_user_perm (user_id, perm_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.userId},#{item.permId}
        </foreach>
    </insert>

    <insert id="saveRolePerm" parameterType="java.util.List">
        INSERT INTO sys_role_perm (role_id,perm_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            #{roleId},#{permId}
        </foreach>
    </insert>

    <delete id="deletePermByUserId" parameterType="int">
        DELETE FROM sys_user_perm WHERE user_id = #{userId}
    </delete>

    <delete id="deletePermByRoleId" parameterType="int">
        DELETE from sys_role_perm WHERE role_id = #{roleId}
    </delete>
</mapper>