<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyjsh.system.dao.RoleDao">
    <select id="listByUserId" parameterType="int" resultType="Role">
        SELECT t2.*
        FROM
            sys_user_role t1 LEFT JOIN sys_role t2 ON t1.role_id = t2.id
        WHERE
            t1.user_id = #{userId}
    </select>

    <select id="listRole" parameterType="Role">
      SELECT t.* FROM sys_role t
          <where>
              <if test="null!=name and ''!=name">
                  t.name like concat('%',#{name},'%')
              </if>
              and order by t.role_order
          </where>
    </select>

</mapper>