<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyjsh.system.dao.UserDao">
    <select id="getByUserName" resultType="User" parameterType="string">
        SELECT
           t.*
        FROM
            sys_user t
        WHERE
            t.user_name = #{userName}
    </select>

    <select id="listUser" resultType="User">
        SELECT t.* from sys_user
        <where>
            <if test="null=user.name and ''!=user.name">
                t.name like concat('%',#{name},'%')
            </if>
            <if test="null!=orgIds and orgIds.size>0">
                and t.org_id in
                <foreach collection="orgIds" item="orgId" open="(" separator="," close=")">
                    #{orgId}
                </foreach>
            </if>
        </where>
        order by create_time asc
    </select>

</mapper>